.home-container {
  text-align: center;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.title {
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 30px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar input {
  width: 70%;
  padding: 10px;
  font-size: 1.5rem;
  border: 2px solid white;
  border-radius: 50px;
  outline: none;
  transition: all 0.3s ease-in-out;
  padding-right: 50px;
}

.search-bar input:focus {
  border-color: #ffcc00;
  box-shadow: 0 0 15px rgba(255, 204, 0, 0.8);
}

.search-button {
  margin: 15px;
  padding: 10px 20px;
  font-size: 1.2rem;
  background: #ffcc00;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background: #ff0000;
}

.car-item {
  margin-bottom: 20px;
  background: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
}

.car-item img {
  width: 200px; /* A imagem agora ficará com 200px de largura */
  height: auto; /* Mantém a proporção */
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}

button {
  padding: 10px 15px;
  font-size: 1rem;
  border: 2px solid white;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #ffcc00;
  color: black;
  transform: scale(1.1);
}
